<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/spotify.css">
    <title>Spotify</title>
</head>
<body>
    <img class="logo" src="logo.png" alt="spotify logo" width="100" height="30">
    
    <h3>Trivandrum</h3>
    <label for="">Your weekly update of the most popular tracks in Trivandrum,India</label><br><br>
    <table class="table" style="width:100%">
        <tr>
          <th>#</th>
          <th>Track</th>
          <th>Album</th>
          <th>Artist</th>
          <th>Streaks</th>
        </tr>
        <tr>
          <td>1</td>
          <td><a href="https://open.spotify.com/album/4fiPkVR8M247hQBOYLkwBq?uid=93f95297eb203da36ea1&uri=spotify%3Atrack%3A2ncqKdTj6dz7tWoTMMrAtq&highlight=spotify%3Atrack%3A2ncqKdTj6dz7tWoTMMrAtq">Mahiye Jinna Sohna</a></td>
          <td><img src="Mahiye.jpeg" alt="mahiye" width="100" height="100"></td>
          <td>Darshan Raval</td>
          <td>48</td>
        </tr>
        <tr>
          <td>2</td>
          <td><a href="https://open.spotify.com/track/4nc6XiUze2Yh7wFueGOPv7">Chaleya</a></td>
          <td><img src="chaleya.jpeg" alt="chaleya" width="100" height="100"></td>
          <td>Anirudh Ravichander</td>
          <td>15</td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href="https://open.spotify.com/track/4ymPEyiXabTe1NO8q8EFxG">Chogada</a></td>
          <td><img src="chogada.jpeg" alt="chogada" width="100" height="100"></td>
          <td>Asees Kaur, Darshan Raval</td>
          <td>20</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="https://open.spotify.com/track/554RItg5afQv3ODGQMT29x">Kalapakkara</a></td>
            <td><img src="kalapakara.jpeg" alt="kalapakara" width="100" height="100"></td>
            <td>Jakes Bejoy, Shreya Ghoshal, Benny Dayal, Fejo, Joe Paul</td>
            <td>4</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="https://open.spotify.com/track/3hkC9EHFZNQPXrtl8WPHnX">Agar Tum Saath Ho</a></td>
            <td><img src="agar.jpg" alt="agar" width="100" height="100"></td>
            <td>Alka Yagnik, Arjit Singh</td>
            <td>47</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="https://open.spotify.com/track/3M9G4jJAgDLB9ycinua8Wo">Kaavaalaa</a></td>
            <td><img src="kavala.jpeg" alt="kavala" width="100" height="100"></td>
            <td>Anirudh Ravichander, Arunraja Kamaraj, Shilpa Rao</td>
            <td>16</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="https://open.spotify.com/track/4eu27jAU2bbnyHUC3G75U8">Badtameez Dil</a></td>
            <td><img src="badtameez.jpeg" alt="badtameez" width="100" height="100"></td>
            <td>Benny Dayal, Shefali Alvares</td>
            <td>27</td>
        </tr>
        <tr>
            <td>8</td>
            <td><a href="https://open.spotify.com/track/5cgKosPPj5Cs9a2JQufUc1">Ilahi</a></td>
            <td><img src="ilahi.jpeg" alt="ilahi" width="100" height="100"></td>
            <td>Arjit Singh</td>
            <td>11</td>
        </tr>
        <tr>
            <td>9</td>
            <td><a href="https://open.spotify.com/track/69EoR3Z8jgRODL3AmQs5ZP">India Waale</a></td>
            <td><img src="india waale.jpeg" alt="india" width="100" height="100"></td>
            <td>KK, Neeti Mohan, Vishal Dadlani, Shankar Mahadevan</td>
            <td>18</td>
        </tr>
        <tr>
            <td>10</td>
            <td><a href="https://open.spotify.com/track/1HNig28114roVWfkCHk5oJ">Neela Nilave</a></td>
            <td><img src="neela.jpeg" alt="neela" width="100" height="100"></td>
            <td>Kapil Kapilan, Sam C S</td>
            <td>7</td>
        </tr>
        <tr>
            <td>11</td>
            <td><a href="https://open.spotify.com/track/5O2P9iiztwhomNh8xkR9lJ">Night Changes</a></td>
            <td><img src="night changes.jpeg" alt="night" width="100" height="100"></td>
            <td>One Direction</td>
            <td>48</td>
        </tr>
      </table>
</body>
</html>